/*@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}
main {
    /*font-family: "Comic Sans MS", sans-serif;*/
    font-family: Lato, sans-serif;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    font-size: 24px;
}
#main > header {
    /*order: -1;*/
}
header, footer {
    display: flex;
    justify-content: space-between;
    background-color: #3AACFF;
    height: 10vh;
    align-items: center;
}

footer #footer-text {
    color: white;
}
nav a {
    text-decoration: none;

}
footer, section, header, aside {
    padding: 1rem;
}


/*Stage 5 crap*/
#logo:hover {
    transform: scale(2);
}
#logo {
    transition: scale 2s ease-in-out 2s,
    transform 2s ease;
}

#pet-profile:hover {
    transform: rotateX(360deg);
    transition: transform 0.5s;
}
#pet-profile  {
    /*transition: transform 0.5s ease-in 0.5s;*/
}
#friends:hover {
    transform: rotateY(360deg);
    transition: transform 0.5s ease-in-out;
}
#friends {
    transition: transform 0.5s ease-in-out;
    /*transition: transform 0.5s ease-in;*/
}
#settings:hover {
    transform: rotateZ(360deg);
    transition: transform 0.5s ease-in-out;
}
#settings {
    transition: transform 0.5s ease-in-out;
    /*transition: transform 0.5s ease-in;*/
}

@media screen and (max-width: 768px) {
    /* CSS code */
    body {
        /*padding: 0px;*/
        /*background-color: lime;*/
    }

    section {
        /*background-color: red;*/
        /*    flex: 1 1 50vh;*/
    }



}


@media screen and (max-width: 414px) {
    /* CSS code */
    body {
        /*padding: 0px;*/
        /*background-color: deeppink;*/
    }

    #description {
        /*background-color: yellow;*/
        font-size: 20px;
        /*flex: 1 1 50vh;*/
    }
}
